/* Font */
h1{
  font-family: 'Playfair Display', serif;
}

#logonome{
  font-size: 15px;
}

#title, h2, h3{
  font-family: 'Single Day', cursive;
}

p , a, label, input, button {
  font-family: 'Inter', sans-serif;
}

/* header da tutorial */

body{
  margin: 0px;
  font-family: arial, helvetica, sans-serif;
  background-color: #fafafa;
}

.header{
  background-color: black;
  color: white;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.header ul{
  margin: 0;
  padding: 0px;
  list-style: none;
  overflow: hidden;
}

.header ul a{
  font-weight: bolder;
  display: block;
  padding: 20px;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;

}

.header ul a:hover{
  background-color: #FFB400;
  color: #212121;
  border-radius: 50px 50px 50px 50px;
}

.header .logo{
  float: left;
  padding: 20px 10px;
  cursor: pointer;
}

.header .logo:hover {
  opacity: 0.8;
}

a .logo-img {
  max-width: 50px;
  max-height: 50px;
  padding: 0px 20px 0px 10px;
}

.logo {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.header .menu{
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.header .menu-icon{
  padding-top: 40px;
  padding-right: 20px;
  position: relative;
  float: right;
  cursor: pointer;
}

.header .menu-icon .nav-icon{
  background-color: white;
  display: block;
  width: 18px;
  height: 2px;
  position: relative;
  transition: background-color .2s ease-out;
}

.header .menu-icon .nav-icon::before,
.header .menu-icon .nav-icon::after{
  background-color: white;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transition: all .2s ease-out;
  position: absolute;
}

.header .menu-icon .nav-icon::before{
  top: 5px
}

.header .menu-icon .nav-icon::after{
  top: -5px;
}

.header .menu-btn{
  display: none;
}

.header .menu-btn:checked ~ .menu {
max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background-color: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::before {
transform: rotate(-45deg);
top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::after {
transform: rotate(45deg);
top: 0;
}

/* HEADER Desktop version */

@media (min-width: 48em) {

  .header ul{
    padding: 20px;
  }

  .header li{
    float: left;
    display: inline-block;
  }

    .header li a{
      padding: 20px 30px;
      display: block;
    }

    .header .menu{
      clear: none;
      float: right;
      max-height: none;
      display: flex;
      align-items: center;
    }

    .header .menu-icon{
      display: none;
    }
}

/* Griglia 1*/
.container-1 {
  padding: 120px 20px 60px 20px;
  color: white;
  text-align: center;
  background-color: #0E1428;
}

.container-1 #title{
  font-size: 52px;
}

.container-1 p{
  font-size: 23px;
}

.div-col2{
  width: 100%;
}

.container-1 .row {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

#button {
  padding: 30px 0 0 0;
  display: flex;
  justify-content: center;
  font-weight: bold;

}

/* Desktop version div */

@media (min-width: 48em) {

.container-1 .row .col-1{
  padding: 0;
}

.container-1 .row{
  display: flex;
  justify-content: center;
}


.container-1 .col-2 {
  padding-left: 0;
  text-align: center;
}

}

/* Stili per il Form */

.container {
  background-color: #fafafa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Aggiunge un'ombra */
  max-width: 600px;
  margin: 20px auto; /* Centra il rettangolo bianco */
  padding: 20px;
  border-radius: 10px 10px 10px 10px;
}

.container h3{
  font-size: 32px;
  text-align: center;
}

form {
  background-color: #fafafa;
  max-width: 600px;
  margin: 20px auto; /* Centra il rettangolo bianco */
  padding: 20px;
  border-radius: 10px 10px 10px 10px;
  padding: 20px;
  margin: 0px;
  text-align: center;
}

label {
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #ff9f1c;
  color: black;
  padding: 20px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  background-color: #e88c0c;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#nome , #cognome , #telefono , #azienda , #messaggio {
  margin-bottom: 25px;
}

button {
  background-color: #ff9f1c;
  color: black;
  padding: 20px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #e88c0c;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Stile desktop per testo e form*/
@media (min-width: 48em) {

  .container{
    background-color: #fafafa;;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 50px;
    border-radius: 10px 10px 10px 10px;
  }
}

/* Stili per il Footer */

.footer-container{
  padding-top: 40px;
}

footer {
  background-color: #212121;
  color: #fff;
  padding: 30px 30px;
  text-align: center;
}

footer a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

footer a img {
  max-width: 90px;
}

footer a img:hover {
  max-width: 90px;
  opacity: 0.5;
}
